*,
::before,
::after {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #070e16;
  overflow: hidden;
}

body {
  height: 100%;
}

canvas {
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  padding: 0;
}
